
<mat-card>
    <mat-card-content fxLayout="column" fxLayoutAlign="center center">
    <div>
    <h1>Please update your details</h1>
    
    <form
          *ngIf="!isSuccessful"
          name="form"
          (ngSubmit)="f.form.valid && onSubmit()"
          #f="ngForm"
          novalidate
        >
        <mat-form-field  class="w-full" appearance="fill">
          <mat-label>Username</mat-label>
          <input
                matInput
                appearance="fill"
                type="text"
                class="form-control"
                name="username"
                [(ngModel)]="form.username"
                required
                minlength="3"
                maxlength="20"
                #username="ngModel" />
  
              <mat-error *ngIf="username.errors && f.submitted">
                <mat-error *ngIf="username.errors['required']">Username is required</mat-error>
                <mat-error *ngIf="username.errors['minlength']">
                  Username must be at least 3 characters
                </mat-error>
                <mat-error *ngIf="username.errors['maxlength']">
                  Username must be at most 20 characters
                </mat-error>
              </mat-error>
              
        </mat-form-field>
     
  
  
        <mat-form-field class="w-full pt-1" appearance="fill">
          <mat-label>Email</mat-label>
          <input
              matInput
              type="email"
              name="email"
              value={{userEmail}}
              readonly
              disabled
            />
         
        </mat-form-field>
        
  
  
        <mat-form-field class="w-full pt-1" appearance="fill">
          <mat-label>Password</mat-label>
          <input
              matInput
              type="password"
              name="password"
              [(ngModel)]="form.password"
              required
              minlength="6"
              #password="ngModel"
            >
            <mat-error *ngIf="password.errors && f.submitted">
              <mat-error *ngIf="password.errors['required']">Password is required</mat-error>
              <mat-error *ngIf="password.errors['minlength']">
                Password must be at least 6 characters
              </mat-error>
            </mat-error>
        </mat-form-field>
  
          <button mat-stroked-button mat-button color="primary" class="pt-1">Update</button>
  
          <mat-error *ngIf="f.submitted && isSignUpFailed">
            Signup failed!<br />{{ errorMessage }}
          </mat-error>
  
    </form>
  
  
    <div *ngIf="isSuccessful">
        successful
    </div>
  </div>
  
  
    </mat-card-content>
  </mat-card>
    